@font-face {
    font-family: "Gagalin";
    src: url("/resources/font/Gagalin-Regular.otf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("/resources/font/BebasNeue-Regular.otf");
}

@font-face {
    font-family: "Coolvetica";
    src: url("/resources/font/Coolvetica-Regular.otf");
}

@font-face {
    font-family: "Creato Display";
    font-weight: normal;
    src: url("/resources/font/CreatoDisplay-Regular.otf");
}

@font-face {
    font-family: "Creato Display";
    font-weight: 200;
    src: url("/resources/font/CreatoDisplay-Light.otf");
}
