.view-photo {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: start;

        .photo-info {
            margin-top: 1.5rem;
        }
    }
}

.photo-info {
    padding: 0 1rem;

    h1 {
        font-size: 1.75rem;
        margin-bottom: 0;
        font-family: "Coolvetica", sans-serif;
    }

    p {
        font-size: 1.2rem;
        color: #2c2c2c;
    }

    .avatar {
        height: 32px;
        border-radius: 50%;
    }
}

.photo-buttons {
    display: flex;
    gap: 10px;
}

.img-container {
    text-align: center;

    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background: #ececec;
    border: solid 1px #cacaca;
    border-radius: 10px;

    img {
        max-height: calc(100vh - 400px);
        border-radius: 5px;
        max-width: 100%;

        @media (min-width: 768px) {
            max-width: 50vw;
        }
    }
}
